body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results {
    margin: 0 auto;
}

.board {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 470px;
}

.cell {
    width: 150px;
    height: 150px;
    margin: 2px;
    border: 1px solid black;
}

button {
    font-size: 24px;
    margin: 0 auto;
    margin-top: 20px;
}