.board {
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    margin: 0 auto;
    padding-top: 50px;
}

.cell {
    height: 150px;
    width: 150px;
    padding: 0px;
    border: 1px solid black;
    margin: 2px;
    cursor: pointer;
}

.reset {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 5px;
}